* {
  box-sizing: border-box;
}

body {
  background-color: #298eea;
  font-family: "Roboto", sans-serif;
}

.logo {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
}

.formarea {
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.forgot {
  text-align: center;
  color: #999;
}

.login {
  text-align: center;
  font-weight: bold;
  color: white;
}

.login-link {
  color: white;
}
