* {
  box-sizing: border-box;
}

body {
  background-color: #298eea;
}

.logo {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
}

.formarea {
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 3px;
  padding: 16px 40px 40px 40px;
}

.title {
  padding-bottom: 15px;
}

h1 {
  text-align: center;
  color: #565656;
  font-weight: 300;
  font-size: 35px;
}

fieldset {
  border-style: none;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.uniform {
  width: 320px;
  padding: 15px;
}

.field {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid #e7e7e7;
  background: #fcfcfc;
  font-size: 18px;
}

button {
  margin-bottom: 10px;
  height: 55px;
  padding: 15px;
  background-color: #15CD72;
  color: white;
  font-size: 22px;
  border-radius: 3px;
  border: 2px solid #15CD72;
}

button:hover {
  background-color: #05BF57;
  border: 2px solid #05BF57;
}

.forgot {
  text-align: center;
}

.forgot-link {
  color: #999;
}

.login {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.login-link {
  color: white;
}
